@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Stencil+One&display=swap');

*,*::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #528159;
    height: 100dvh;
}
main{  
     /* border: solid 1px crimson; */
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    height: 100%;
  
}

#borda-principal{

    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    font-family: 'saira stencil one';
    background-color: aliceblue;
    min-width: 80%;
    align-items: center;
    
}
h1{
    /* font-size: 600;
    font-size: 1.125rem;
    margin: 3.5rem; */

}
table{
    background-color: aliceblue;
    min-width: 80%;
    border-collapse: collapse;
}
td{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}


